.wrapper {
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10vw;
  padding: 1rem 0;
}

.right-part {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

a {
  text-decoration: none;
  color: black;
}
