<div class="wrapper">
  <div class="header">
    <section class="left-part">
      <h2 class="text-2xl">Maxime's Portfolio</h2>
    </section>
    <section class="right-part">
      <nav>
        <ul>
          <li class="text-xl">
            <a routerLink="/home">Home</a>
          </li>
          <li class="text-xl"><a routerLink="/projects">Projects</a></li>
          <li class="text-xl"><a routerLink="/skills">Skills</a></li>
          <li class="text-xl"><a routerLink="/about">About</a></li>
          <li class="text-xl"><a routerLink="/contact">Contact</a></li>
        </ul>
      </nav>
    </section>
  </div>
</div>
