.wrapper {
  border-bottom: 1px solid #e5e7eb;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10vw;
  padding: 1rem 0;
}

.right-part {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

a {
  color: black;
}
