<div class="global-container">
  <div class="wrapper">
    <section class="left-part">
      <h3>Portfolio</h3>
      <p class="text-color">Made with love in Angular by Maxime Lombardo</p>
    </section>
    <section class="middle-part">
      <h3>Quick Links</h3>
      <nav>
        <ul>
          <li class="text-xl">
            <a class="text-color" routerLink="/">Home</a>
          </li>
          <li class="text-xl">
            <a class="text-color" routerLink="/projects">Projects</a>
          </li>
          <li class="text-xl">
            <a class="text-color" routerLink="/about">About</a>
          </li>
          <li class="text-xl">
            <a class="text-color" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </section>
    <section class="right-part">
      <h3>Connect</h3>
      <app-links-bar></app-links-bar>
    </section>
  </div>
  <div class="horizontal-line">
    <hr />
  </div>
  <footer class="text-medium">
    © 2025 Maxime Lombardo. All rights reserved.
  </footer>
</div>
