.container {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.75rem;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin: 0;
}

.left-part {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 1rem;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 0.5rem;
  border-radius: 10px;
}

@media (max-width: 1130px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left-part {
    margin-bottom: 1rem;
  }
}
