.global-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background: radial-gradient(circle at top left, #e0d4ff, #b4c7f7, #d8dbff);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10vw;
  width: 100%;
}

.left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.btns {
  display: flex;
  gap: 2rem;
}

.right-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
