<section class="global-container">
  <div class="wrapper">
    <section class="left-side">
      <h1>Hi, I'm<br /><span class="gradient-text">Maxime LOMBARDO</span></h1>
      <p class="text-xl">
        Frontend Engineer passionate about creating beautiful, responsive, and
        user-friendly web experiences.
      </p>
      <section class="btns">
        <app-button variant="primary" size="lg">View My Work</app-button>
        <app-button variant="secondary" size="lg">Get in touch</app-button>
      </section>
    </section>
    <section class="right-side">
      <app-code-mockup></app-code-mockup>
    </section>
  </div>
</section>
