<div class="global-container">
  <div class="wrapper">
    <h2 class="text-3xl">What I Do ?</h2>
    <p class="text-xl">
      I specialize in creating modern web experiences with cutting-edge
      technologies
    </p>
    <div class="cards-container">
      <app-expertise-card
        title="Frontend Development"
        description="Building responsive and interactive user interfaces using modern frameworks and best practices."
        svgBackgroundColor="#f3e8ff"
        backgroundColor="linear-gradient(0deg, rgba(233, 216, 253, 0.50) 0%, rgba(233, 216, 253, 0.25) 100%)"
      >
        <svg
          icon
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-code-icon lucide-code"
        >
          <polyline points="16 18 22 12 16 6" />
          <polyline points="8 6 2 12 8 18" /></svg
      ></app-expertise-card>
      <app-expertise-card
        title="Web Applications"
        description="Creating dynamic and scalable applications that deliver exceptional user experiences."
        svgBackgroundColor="#dbeafe"
        backgroundColor="linear-gradient(0deg, rgba(227, 248, 255, 0.90) 0%, rgba(227, 248, 255, 0.50) 100%)"
        ><svg
          icon
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-globe-icon lucide-globe"
        >
          <circle cx="12" cy="12" r="10" />
          <path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20" />
          <path d="M2 12h20" /></svg
      ></app-expertise-card>
      <app-expertise-card
        title="Performance Optimization"
        description="Optimizing websites for speed, accessibility, and search engine visibility. lorem lorem lorem"
        svgBackgroundColor="#e0e7ff"
        backgroundColor="linear-gradient(0deg, rgba(226, 232, 255, 0.90) 0%, rgba(226, 252, 255, 0.50) 100%)"
      >
        <svg
          icon
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-zap-icon lucide-zap"
        >
          <path
            d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"
          /></svg
      ></app-expertise-card>
    </div>
  </div>
</div>
