<div class="global-container">
  <div class="code-mockup">
    <div class="code-mockup__header">
      <span class="code-mockup__circle code-mockup__circle--red"></span>
      <span class="code-mockup__circle code-mockup__circle--yellow"></span>
      <span class="code-mockup__circle code-mockup__circle--green"></span>
    </div>

    <div class="code-mockup__bar"></div>

    <div class="code-mockup__body">
      <div
        class="code-mockup__line code-mockup__line--purple"
        style="width: 80%"
      ></div>
      <div
        class="code-mockup__line code-mockup__line--blue"
        style="width: 95%"
      ></div>
      <div
        class="code-mockup__line code-mockup__line--purple"
        style="width: 75%"
      ></div>
      <div
        class="code-mockup__line code-mockup__line--blue"
        style="width: 60%"
      ></div>
    </div>
  </div>
</div>
